@import url('https://fonts.googleapis.com/css?family=Klee One');

* {
  margin: 0px;
  padding: 0px;
}

body {
  color: rgb(50, 50, 50);
  font-size: 14px;
  // font-family: sans-serif;
  font-family: 'Klee One';
}


.top_image_area {
  img {
    width: 100%;
  }
}

.label {
  font-size: 40px;
  font-family: Courier New;
  line-height: 36px;
}

.sub_label {
  font-size: 14px;
  font-family: cursive;
  margin: 0px 0px 20px;
}

.message_area {
  font-family: 'Klee One';
  line-height: 22px;
  padding: 100px 0px;
  text-align: center;

  p {
    margin-bottom: 18px;
  }
}

.host_area {
  background-color: rgb(50, 38, 38);
  color: #fff;
  padding: 100px 0px;
  text-align: center;
  line-height: 30px;

  img {
    width: 20em;
  }

  .host {
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .name {
    font-size: 24px;
    margin: 10px 0px 20px;
  }
}


.countdown_area {
  background-image: url("images/lalachance.jpeg");
  background-repeat: no-repeat;
  color: #fff;
  padding: 100px 20px;
  text-align: center;
  line-height: 30px;

  .to {
    font-size: 26px;
  }

  .goal_day {
    font-size: 40px;
    margin: 0px 6px 0px 10px;
  }

  .ceremony_detail {
    margin-top: 16px;
  }

  .info {
    font-size: 30px;
  }

  .reception {
    font-size: 20px;
  }

  .timer_area {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
  }

  .timer_item {
    text-align: center;
  }

  .timer {
    font-size: 50px;
    margin-bottom: 10px;
  }

  .unit {
    font-size: 20px;
    font-family: monospace;
  }
}

.access_area {
  padding: 100px 0px;
  text-align: center;


  // GoogleMapの左上の吹き出しを隠すために、
  // .map（実際に表示させる高さ）とiframeのheightをわざと相違させる
  .map {
    height: 300px;
    margin-bottom: 20px;
    ;
    overflow: hidden;

    iframe {
      height: 700px;
      width: 100%;
      margin-top: -180px;
    }
  }

  .place {
    font-size: 18px;
  }

  a {
    color: rgb(255, 40, 115);
    text-decoration: none;
  }
}

.attention_area {
  line-height: 24px;
  padding: 100px 50px;
  text-align: center;
}


.presence_area {
  line-height: 24px;
  padding: 100px 50px;
  text-align: center;

  .form_area {
    padding-top: 20px;
    text-align: left;

    p input {
      text-align: left;
    }
  }

  .form_item {
    padding: 10px 0px;
  }
}