@import url('https://fonts.googleapis.com/css?family=Klee One');

* {
  margin: 0px;
  padding: 0px;
}

body {
  color: rgb(50, 50, 50);
  font-size: 14px;
  font-family: 'Klee One';
}

@media screen and (min-width:480px) {
  body {
    font-size: 20px;
  }
}

.modalArea {
  position: fixed;
  width: 100%;
  height: 100%;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;

  .modalBg {
    width: 100%;
    height: 100%;
    background-color: rgba(30,30,30,0.9);
  }
  
  .modalWrapper {
    background-color: #fff;
    border-radius: 10px;
    width: 70%;
    height: 100px;
    max-width: 500px;
    padding: 20px 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    line-height: 50px;
    transform:translate(-50%,-50%);
    text-align: center;
  }
  
  .bgm_button{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .bgmNo{
      color: red;
      margin-right: 50px;
    }

    .bgmOk{
      color: blue;
    }
  }
}



.top_image_area {
  img {
    width: 100%;
  }
}

.label {
  font-size: 40px;
  font-family: Courier New;
  line-height: 36px;
}

.sub_label {
  font-size: 14px;
  font-family: cursive;
  margin-bottom: 20px;
}

@media screen and (min-width:480px) {
  .label {
    font-size: 50px;
    line-height: 46px;
  }

  .sub_label {
    font-size: 18px;
    margin-bottom: 40px;
  }
}

.message_area {
  background-image: url("assets/images/pearl.jpeg");
  background-repeat: no-repeat;
  background-size: auto 100% ;
  font-family: 'Klee One';
  line-height: 22px;
  padding: 100px 0px;
  text-align: center;

  p {
    margin-bottom: 18px;
  }
}

.host_area {
  background-color: rgb(50, 38, 38);
  color: #fff;
  padding: 100px 20px;
  text-align: center;
  line-height: 30px;

  img {
    width: 90%;
  }

  .host {
    margin: 20px 0px 50px;

    .name {
      font-size: 24px;
      margin: 10px 0px 20px;
    }
  }
}

@media screen and (min-width:480px) {
  .host_area {
    padding: 100px 50px;
    line-height: 40px;

    .hosts {
      display: flex;
      justify-content: center;


      .name {
        font-size: 36px;
        margin: 16px 0px 30px;
      }
    }
  }
}


.countdown_area {
  background-image: url("assets/images/lalachance.jpeg");
  background-repeat: no-repeat;
  color: #fff;
  padding: 100px 20px;
  text-align: center;
  line-height: 30px;

  .to {
    font-size: 26px;
  }

  .goal_day {
    font-size: 40px;
    margin: 0px 6px 0px 10px;
  }

  .ceremony_detail {
    margin-top: 16px;
  }

  .info {
    font-size: 30px;
  }

  .reception {
    font-size: 20px;
  }

  .timer_area {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
  }

  .timer_item {
    text-align: center;
  }

  .timer {
    font-size: 50px;
    margin-bottom: 10px;
  }

  .unit {
    font-size: 20px;
    font-family: monospace;
  }
}

@media screen and (min-width:480px) {
  .countdown_area {
    background-image: url("assets/images/countdown_bg.jpeg");
    background-repeat: no-repeat;
    padding: 100px 50px;
    line-height: 50px;

    .to {
      font-size: 32px;
    }

    .goal_day {
      font-size: 50px;
      margin: 0px 6px 0px 10px;
    }

    .ceremony_detail {
      margin-top: 40px;
    }

    .info {
      font-size: 40px;
    }

    .reception {
      font-size: 28px;
    }

    .timer_area {
      padding: 40px 0px 0px 30px;
      text-align: center;

      display: flex;
      justify-content: center;

      .timer_item {
        margin-right: 30px;
        text-align: center;

        .timer {
          font-size: 60px;
          margin-bottom: 10px;
        }

        .unit {
          font-size: 20px;
          font-family: monospace;
        }
      }
    }

  }
}

.access_area {
  padding: 100px 0px;
  text-align: center;

  // GoogleMapの左上の吹き出しを隠すために、
  // .map（実際に表示させる高さ）とiframeのheightをわざと相違させる
  .map {
    height: 300px;
    margin-bottom: 20px;
    ;
    overflow: hidden;

    iframe {
      height: 700px;
      width: 100%;
      margin-top: -180px;
    }
  }

  .place {
    font-size: 18px;
  }

  a {
    color: rgb(255, 40, 115);
    text-decoration: none;
  }
}

@media screen and (min-width:480px) {
  .access_area {
    .map {
      height: 500px;

      iframe {
        height: 1000px;
        margin-top: -180px;
      }
    }
  }
}

.attention_area {
  background-image: url("assets/images/attention_bg.jpg");
  background-repeat: no-repeat;
  background-size: auto 100% ;
  color: black;
  line-height: 24px;
  padding: 100px 0;
  text-align: center;

  .attenntion_bg{
    background-color: rgba(255, 255, 255, 0.465);
    border-radius: 10px;
    padding: 50px 0;
    margin: 0  50px;
  }
}

.attention_movie{
  width: 90%;
  margin: 20px auto 0;

  iframe{
    display: block;
    height: 200px;

  }
}

@media screen and (min-width:480px) {
  .attention_area {
    line-height: 40px;
  }
}


.presence_area {
  background-image: url("assets/images/tower.png");
  background-repeat: no-repeat;
  background-size:100% auto;
  color: #fff;
  line-height: 24px;
  padding: 100px 50px;
  text-align: center;


  .presence_message{
    span{
      font-size: 16px;
    }
  }

  .form_area {
    padding-top: 20px;
    text-align: left;

    p input {
      text-align: left;
    }
  }

  .form_item {
    padding: 10px 0px;
  }
}

@media screen and (min-width:480px) {
  .presence_area {
    line-height: 40px;
    padding: 100px 50px;

    .presence_message{
      span{
        font-size: 24px;
      }
    }

    .form_area {
      padding-top: 20px;
      display: inline-block;

      .form_item {
        display: flex;
        padding: 10px 0px;

        p {
          width: 200px;
        }

        #firstName {
          width: 100px;
        }

        #firstNameKana {
          width: 100px;
        }

        #lastName {
          width: 100px;
        }

        #lastNameKana {
          width: 100px;
        }

        #tel {
          width: 200px;
        }

        #address {
          width: 400px;
        }

        #email {
          width: 300px;
        }

        textarea {
          width: 400px;
          height: 200px;
        }

        #guest_memo_allergy {
          width: 400px;
        }
      }
    }
  }
}

@mixin share_fadeup {
  transform: translateY(80px);
  opacity: 0;
  visibility: hidden;
}

@mixin share_fadeup_on {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.scroll_up_title {
  transition: 0.7s ease-in-out;
  @include share_fadeup;
}

.scroll_up {
  transition: 1s ease-in-out;
  @include share_fadeup;
}

.scroll_up_text {
  transition: 1.3s ease-in-out;
  @include share_fadeup;
}

.scroll_up_title.on,
.scroll_up_text.on,
.scroll_up.on {
  @include share_fadeup_on;
}